{% extends 'base.html' %}
{% block title %} Add Employee{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-md-offset-4">
        <form enctype="multipart/form-data" role="form" method="post" autocomplete="off">
            {% csrf_token %}
            <h2 class="fs-title text-center py-4">Add Employee</h2>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'> Employee Number <span style="color:red;">*</span></label>
                        {{ form.employee_no }}
                        {{ form.employee_no.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Name <span style="color:red;">*</span></label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Phone <span style="color:red;">*</span></label>
                        {{ form.phone }}
                        {{ form.phone.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Address <span style="color:red;">*</span></label>
                        {{ form.address }}
                        {{ form.address.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Department <span style="color:red;">*</span></label>
                        {{ form.department_name }}
                        {{ form.department_name.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Designation <span style="color:red;">*</span></label>
                        {{ form.designation_name }}
                        {{ form.designation_name.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Location <span style="color:red;">*</span></label>
                        {{ form.location_name }}
                        {{ form.location_name.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Image</label>
                        {{ form.image }}
                        {{ form.image.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Join Date</label>
                        {{ form.join_date }}
                        {{ form.join_date.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Start Date</label>
                        {{ form.emp_start_date }}
                        {{ form.emp_start_date.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>End Date</label>
                        {{ form.emp_end_date }}
                        {{ form.emp_end_date.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Status</label>
                        {{ form.status }}
                        {{ form.status.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label class='control-label'>Skills</label>
                        {{ form.skills }}
                        {{ form.skills.errors }}
                    </div>
                </div>
            </div>

            <hr>
            <div class="col-md-12 text-right">
                <input type="submit" class="btn btn-success" value="Submit" id="one" style="margin-top: 30px;">
                <input type=button class="btn btn-outline-warning" style="margin-top: 30px;" value="Back"
                       onClick="javascript:history.go(-1);">
                <a href="{%url 'dashboard'%}" class="btn btn-outline-primary ink-reaction" id="three"
                   style="margin-top: 30px;">Back To Dashboard</a>
            </div>
        </form>
    </div>
</div>
{%endblock%}



                

                
